*{
margin:0;
padding:0;
box-sizing:border-box;
}


html{
scroll-behavior:smooth;
}


body{

background:#090005;

color:white;

font-family:Arial, sans-serif;

overflow-x:hidden;

}



/* FIRST PAGE */

.hero{

min-height:100vh;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

text-align:center;

padding:20px;

}



.timon{

width:280px;

animation:dance 2s infinite ease-in-out;

filter:drop-shadow(0 0 25px gold);

}



@keyframes dance{

0%,100%{

transform:translateY(0);

}


50%{

transform:translateY(-20px);

}

}



.speech{

background:#fff0d0;

color:#222;

padding:25px;

border-radius:30px;

max-width:330px;

margin:20px;

box-shadow:0 0 30px gold;

}



.hero h1{

font-size:45px;

color:#d4af37;

text-shadow:0 0 15px black;

margin:20px;

}



.hero p{

font-size:20px;

margin:15px;

}



button{

background:#d4af37;

border:none;

padding:15px 35px;

border-radius:40px;

font-size:18px;

cursor:pointer;

}



/* CONTENT */


#content{

padding:50px 20px;

text-align:center;

}



#content h1,
#content h2{

color:#d4af37;

margin:30px;

}



.photos,
.videos{

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

}



.photos img{

width:280px;

height:350px;

object-fit:cover;

border-radius:25px;

border:2px solid gold;

}



.videos video{

width:300px;

border-radius:25px;

border:2px solid gold;

}



.letter{

margin-top:60px;

padding:30px;

border:1px solid gold;

border-radius:25px;

}



#secretMessage{

margin-top:25px;

font-size:18px;

line-height:1.7;

}



/* PHONE DESIGN */

@media(max-width:600px){


.timon{

width:220px;

}


.hero h1{

font-size:32px;

}


.speech{

font-size:15px;

}


.photos img{

width:90%;

}


.videos video{

width:90%;

}


}
