body{

margin:0;

font-family:'Poppins', sans-serif;

background:#050505;

color:white;

}


.hero{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

background:

radial-gradient(circle,#4b1728,#050505);

}



.hero h1{

font-family:serif;

font-size:55px;

color:#d4af37;

letter-spacing:2px;

animation:fadeIn 2s;

}



.hero p{

font-size:20px;

color:#f5e6d3;

}



button{

padding:16px 40px;

border:none;

border-radius:50px;

background:

linear-gradient(
45deg,
#d4af37,
#f5e6d3
);

color:#050505;

font-size:18px;

font-weight:bold;

cursor:pointer;

transition:.3s;

}



button:hover{

transform:scale(1.1);

box-shadow:

0 0 25px #d4af37;

}



#content{

display:none;

height:100vh;

text-align:center;

padding-top:100px;

background:#050505;

}



#content h1{

color:#d4af37;

font-size:45px;

}



@keyframes fadeIn{

from{

opacity:0;

transform:translateY(30px);

}

to{

opacity:1;

transform:translateY(0);

}

}
